<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>SSD Consultants is your trusted partner for end-to-end recruitment solutions. We specialize in helping organizations find, assess, and hire the right talent—managing the entire hiring process with efficiency, care, and expertise. From startups to established companies, we deliver recruitment strategies tailored to your goals.</p>
      </div>
      <div class="col-lg-4">
        <p>With a focus on personalized service, we make hiring simpler, faster, and more effective—so you can focus on growing your business.<br><br> <a href="https://www.linkedin.com/company/ssd-consultants/" style="color:#0b334f">https://www.linkedin.com/company/ssd-consultants/</a></p>
      </div>
    </div>
  </div>
</section>
